{% extends 'working/base.html' %}

{% block content %}
	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- about -->
	<div class="about-sec" id="about">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>A</span>bout
					<span>U</span>s
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="about-sub">
				<div class="col-md-10 about_bottom_left">
					<h4>Welcome to
						<span>UNS Lab</span>
					</h4>
					<p>현대 사회는 사람 뿐만 아니라 사물까지도 인터넷으로 연결되어 정보를 공유하며 소통하고 있습니다.
					이러한 사회에 발맞추어 경기대학교 컴퓨터공학부 (Network System) 연구실에서는 보다 자유롭고 활발한 
					정보 교류를 통해 인간 감성과 IT 기술이 경합한 최신 인터넷 기술에 대한 연구를 수행하고 있습니다.</p>
					<p>이를 위해 본 연구실에서는 김남기 교수님과 이우식 교수님의 지도로 석박사 과정 대학원생 및 학부 연구생들이 최신 인터넷 기술 (IoT, SDN, WiFi, 5G, Embedded System, 등)을 함께 배우며 연구하고 있습니다. 그리고 대학원 연구를 위한 다양한 기초 학습 스터디와 공모전도 함께 실시하고 있습니다. 네트워크 연구실은 인터넷 최신 기술을 함께 배우고 연구할 수 있는 의욕적인 학부생들을 언제나 기다리고 있습니다. 네트워크 연구실에 대해 좀 더 알고 싶은 사람은 언제나 교수님이나 연구실 소속 학생들에게 문의 바랍니다. 문은 두드리는 사람에게만 열릴 것입니다.</p>
					<a class="button-style" href="{% url 'join' %}">Join Now</a>
				</div>
				<!-- Stats-->
				<div class="col-md-6 about2-info">
					<img src="images/graduate.png" alt="" />
				</div>
				<!-- //Stats -->
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- Achievements -->
	<div class="aitsresumethree">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span>A</span>chievements
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="load_more">
				<ul id="myList">
					<li class="aitsaitsresumewthreeli-1">
						<div class="l_g">
							<div class="l_g_r g_r">
								<div class="work">
									<div class="work-info">
										<div class="col-xs-6 work-grid work-left">
											<h4>2000-2017</h4>
										</div>
										<div class="col-xs-6 work-grid work-right">
											<h5>Ranked Top 1st</h5>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
												eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="work-info">
										<div class="col-xs-6 work-grid work-right work-right2">
											<h4>2011 - 2012</h4>
										</div>
										<div class="col-xs-6 work-grid work-left work-left2">
											<h5>Queen's Anniversary Prize</h5>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
												eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="work-info">
										<div class="col-xs-6 work-grid work-left">
											<h4>2004 - 2017</h4>
										</div>
										<div class="col-xs-6 work-grid work-right">
											<h5 class="comp">Excellent University Guide</h5>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
												eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //Achievements -->
	<!-- about-team -->
	<div class="team">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span>F</span>aculties
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="team-row-agileinfo">
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t1.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Vaura Tegsner</h4>
							<p>Principal</p>
							<div class="social-lsicon">
								<a href="#" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#" class="social-button google">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t2.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Jark Kohnson</h4>
							<p>Senior Teacher</p>
							<div class="social-lsicon">
								<a href="#" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#" class="social-button google">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t3.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Chunk Erson</h4>
							<p>Vice Principal</p>
							<div class="social-lsicon">
								<a href="#" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#" class="social-button google">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-6 team-grids">
					<div class="thumbnail team-agileits">
						<img src="images/t4.jpg" class="img-responsive" alt="" />
						<div class="effectd-caption">
							<h4>Goes Mehak</h4>
							<p>Teacher Science</p>
							<div class="social-lsicon">
								<a href="#" class="social-button twitter">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#" class="social-button facebook">
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#" class="social-button google">
									<span class="fa fa-google-plus"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about-team -->
	<!-- middle section -->
	<div class="middle-sec-agile">
		<div class="container">
			<h4>Our
				<span>Best Study</span> Institute</h4>
			<ul>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Select A Course You Like And Explore It!</h5>
						<p>Integer eu facilisis nunc, a iaculis felis.</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Join A Seminar To Know More About It!</h5>
						<p>Integer eu facilisis nunc, a iaculis felis.</p>
					</div>
					<div class="clearfix"></div>
				</li>
				<li>
					<div class="midle-left-w3l">
						<span class="fa fa-check" aria-hidden="true"></span>
					</div>
					<div class="middle-right">
						<h5>Get Enrolled And Start Better Future With Us!</h5>
						<p>Integer eu facilisis nunc, a iaculis felis.</p>
					</div>
					<div class="clearfix"></div>
				</li>
			</ul>
			<a class="button-style" href="join.html">Join Now</a>
		</div>
		<div class="pencil-img">
			<img src="images/bg5.png" alt="" />
		</div>
	</div>
	<!-- //middle section -->
	<!-- news -->
	<div class="news" id="news">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>O</span>ur
					<span> E</span>vents
				</h3>
				<div class="tittle-style">

				</div>
			</div>
			<div class="yaallahaa-news-grids-agile">
				<div class="yaallahaa-news-grid">
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img">
							<div class="news-left-text color-event1">
								<h5>20 Dec</h5>
							</div>
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color1">
								<a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 7:00 pm - 9:00 pm</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-map-marker" aria-hidden="true"></span> Newyork City, 2589</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img1">
							<div class="news-left-text color-event2">
								<h5>27 Dec</h5>
							</div>
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color2">
								<a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 6:00 am - 8:00 am</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-map-marker" aria-hidden="true"></span> Newyork City, 1452</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="yaallahaa-news-grid">
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img2">
							<div class="news-left-text color-event3">
								<h5>28 Dec</h5>
							</div>
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color3">
								<a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 10:00 am - 1:00 pm</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-map-marker" aria-hidden="true"></span> Newyork City, 7458</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 yaallahaa-news-left">
						<div class="col-xs-6 news-left-img news-left-img3">
							<div class="news-left-text color-event4">
								<h5>30 Dec</h5>
							</div>
						</div>
						<div class="col-xs-6 news-grid-info-bottom-w3ls">
							<div class="news-left-top-text text-color4">
								<a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
							</div>
							<div class="date-grid">
								<div class="admin">
									<a href="#">
										<span class="fa fa-clock-o" aria-hidden="true"></span> 7:00 pm - 9:00 pm</a>
								</div>
								<div class="time">
									<p>
										<span class="fa fa-map-marker" aria-hidden="true"></span> Newyork City, 786.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="news-grid-info-bottom-w3ls-text">
								<p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Best
						<span>Study</span>
					</h4>
				</div>
				<div class="modal-body">
					<div class="model-img-info">
						<img src="images/e1.jpg" alt="" />
						<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio eget nunc. Pellentesque
							ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque pellentesque tempor enim, in dapibus turpis
							porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus id tellus ultrices ullamcorper. Cras tempor massa
							luctus, varius lacus sit amet, blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- //news -->
{% endblock %}